{% extends "layout.html" %}
{% block title %}Home Page{% endblock %}
{% block headhtml %}
<!-- D3 and Plotly -->
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<!-- Style sheet -->
<link rel="stylesheet" href="/static/css/style.css">

{% endblock %}
{% block content %}
<h1 id="warning-text" style ="color:green; font-weight:bold">{{money}}</h1>
<br>
<div class="hero-image">
    <h1 style = "color:aliceblue; font-weight:bold">SEARCH FOR CAR</h1>
    <hr>
    <div class = row>
      <div class ="col-sm-1"></div>
        <div class = "col-sm-3" >
            <div class="form-group">
                <select class="form-control" id="manufacturer"></select>
              </div>
        </div>
        <div class = "col-sm-3" >
            <div class="form-group">
                <select class="form-control" id="car_type"></select>
              </div>
        </div>
        <div class = "col-sm-3" >
          <div class="form-group">
              <select class="form-control" id="color"></select>
            </div>
      </div>
  </div>
  <br>
  <br>
<div class = row>
  <div class ="col-sm-1"></div>
    <div class = "col-sm-3" >
        <div class="form-group">
            <select class="form-control" id="condition"></select>
          </div>
    </div>
    <div class = "col-sm-3" >
        <div class="form-group">
            <select class="form-control" id="fuel_type"></select>
          </div>
    </div>
    <div class = "col-sm-3" >
      <div class="form-group">
          <select class="form-control" id="title"> </select>
        </div>
  </div>
</div>
<br>
<br>
<div class = row>
  <div class ="col-sm-1"></div>
  <div class = "col-sm-3" >
      <div class="form-group">
          <select class="form-control" id="transmission"></select>
        </div>
  </div>
  <div class = "col-sm-3" >
      <div class="form-group">
          <select class="form-control" id="size"></select>
        </div>
  </div>
  <div class = "col-sm-3" >
    <div class="form-group">
        <select class="form-control" id="state"></select>
      </div>
</div>
</div>
<br>
<br>
<div class = row>
  <div class ="col-sm-1"></div>
  <div class = "col-sm-3" >
      <div class="form-group">
        <input class="form-control" id="year" type="number" placeholder="Year">
        </div>
  </div>
  <div class = "col-sm-3" >
      <div class="form-group">
        <input class="form-control" id="odometer" type="number">
        </div>
  </div>
  <div class = "col-sm-3" >
    <div class="form-group">
      <select class="form-control" id="cyl" type="text"></select>
      </div>
</div>
</div>
<div class = row>
  <div class ="col-sm-1"></div>
  <div class = "col-sm-3" ></div>
    <div class = "col-sm-3" >
      <button type="button" class="btn btn-primary btn-lg btn-block">PREDICT</button>
    </div>
    <div class = "col-sm-3" ></div>
</div>
</div>

{% endblock %}
{% block bodyhtml %}
<!-- Our JS -->
<script type="text/javascript" src="/static/js/Vehicle.js"></script>
<script type="text/javascript" src="/static/js/FormBuilder.js"></script>

{% endblock %}